@media (max-width: 768px){
    .shared-account{
        display: none;
    }
}
/*
    =======================
        Sold By cateory
    =======================
*/

.widget-chart-two {
    padding: 0;
}
.widget.widget-chart-two .widget-heading {
    padding: 20px 20px 0 20px;
}
.widget-chart-two .widget-heading .w-icon {
    position: absolute;
    right: 20px;
    top: 15px;
}
.widget-chart-two .widget-heading .w-icon a {
    padding: 6px;
    border-radius: 10px;
    padding: 6px;
    background: #c7e6e4 !important;
    border: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.widget-chart-two .widget-heading .w-icon a svg {
    color: #009688;
}
.widget.widget-chart-two .widget-content {
    padding: 0 0 20px 0;
}
.widget-chart-two .apexcharts-canvas {
    margin: 0 auto;
}
.widget-chart-two .apexcharts-legend-marker {
    left: -5px!important;
}
/*
    =====================
        Account Info
    =====================
*/

.widget-account-invoice-three {
    padding: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: #fdfdfd;
    border: none;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-account-invoice-three .widget-heading {
    padding: 24px 30px 63px 30px;
    border-radius: 15px;
    background-color: rgb(22, 15, 107);
    background-image: linear-gradient(315deg, #160f6b 0%, #4361ee 74%);
    min-height: 213px;
    height: 100%;
    
}
.widget-account-invoice-three .widget-heading .wallet-usr-info {
    display: flex;
    justify-content: space-between;
}
.widget-account-invoice-three .widget-heading .wallet-usr-info span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 5px 12px 5px 6px;
    border-radius: 21px;
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}
.widget-account-invoice-three .widget-heading .add {
    align-self: center;
}
.widget-account-invoice-three .widget-heading .add span {
    padding: 6px;
    border-radius: 12px;
}
.widget-account-invoice-three .widget-heading span img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid rgb(255 255 255 / 18%);
}
.widget-account-invoice-three .widget-heading .wallet-balance {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.widget-account-invoice-three .widget-heading .wallet-balance p {
    margin-bottom: 0;
    align-self: center;
    font-size: 19px;
    color: #fff;
}
.widget-account-invoice-three .widget-heading h5 {
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}
.widget-account-invoice-three .widget-heading h5 .w-currency {
    color: #bfc9d4;
    display: inline-block;
}
.widget-account-invoice-three .widget-amount {
    text-align: center;
    margin-top: -48px;
}
.widget-account-invoice-three .widget-amount .w-a-info {
    display: inline-block;
    padding: 12px 23px;
    background: #fff;
    text-align: left;
    border-radius: 6px;
    width: 40%;
    -webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-received {
    margin-right: 15px;
}
.widget-account-invoice-three .widget-amount span {
    font-weight: 600;
    color: #151516;
}
.widget-account-invoice-three .widget-amount .w-a-info svg {
    width: 18px;
    height: 18px;
    float: right;
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-received svg {
    vertical-align: top;
    color: #009688;
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-spent svg {
    vertical-align: bottom;
    color: #e7515a;
}
.widget-account-invoice-three .widget-amount p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    background: #ebedf2;
    border-radius: 6px;
    margin-top: 10px;
    padding: 3px 0;
    color: #515365;
}
.widget-account-invoice-three .widget-content {
    padding: 20px;
    margin-top: 0;
}
.widget-account-invoice-three .widget-content .bills-stats {
    margin-bottom: 24px;
}
.widget-account-invoice-three .widget-content .bills-stats span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 4px 12px 4px 20px;
    border-radius: 21px;
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #1b2e4b;
}
.widget-account-invoice-three .widget-content .bills-stats span:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background: white;
    border-radius: 50%;
    left: 9px;
    top: 9.5px;
}
.widget-account-invoice-three .invoice-list .inv-detail {
    margin-bottom: 24px;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) {
    display: flex;
    justify-content: space-between;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
    align-self: center;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p span.w-currency {
    font-size: 16px;
    color: #888ea8;
    font-weight: 500;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p span.bill-amount {
    font-size: 14px;
    color: #030305;
    font-weight: 700;
}
.widget-account-invoice-three .invoice-list .inv-action {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.widget-account-invoice-three .invoice-list .inv-action a {
    transform: none;
    border: none;
    font-size: 13px;
    padding: 6px 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.widget-account-invoice-three .invoice-list .inv-action a.view-details {
    color: #805dca!important;
    background: rgb(92 26 195 / 17%);
    border: none!important;
}
.widget-account-invoice-three .invoice-list .inv-action a.pay-now {
    color: #009688!important;
    background: #00968830;
    border: none!important;
}
/*
    ========================
        Recent Activities
    ========================
*/
.widget-activity-four {
    padding-right: 0;
    padding-left: 0;
}
.widget-activity-four .widget-heading {
    padding: 0 20px;
}
.widget-activity-four .widget-heading .w-icon {
    position: absolute;
    right: 20px;
    top: 15px;
}
.widget-activity-four .widget-heading .w-icon a {
    padding: 6px;
    border-radius: 10px;
    padding: 6px;
    background: #c7e6e4 !important;
    border: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.widget-activity-four .widget-heading .w-icon a svg {
    color: #009688;
}
.widget-activity-four .mt-container {
    position: relative;
    height: 326px;
    overflow: auto;
    padding-right: 12px;    
}
.announcement .mt-container {
    position: relative;
    height: 363px;
    overflow: auto;
    padding-right: 12px;    
}
.widget-activity-four .widget-content {
    padding: 0 8px 0 20px;
}
.widget-activity-four .timeline-line .item-timeline { 
    display: flex;
    width: 100%;
    padding: 8px 0;
    transition: .5s;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
}
.widget-activity-four .timeline-line .item-timeline .t-dot { position: relative; }
.widget-activity-four .timeline-line .item-timeline .t-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 6px;
    left: 5px;
    transform: translateX(-50%); 
    border-color: #e0e6ed;
    background: #bfc9d4;
    z-index: 1;
}
.widget-activity-four .timeline-line .item-timeline .t-dot:after {
    position: absolute;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: 5px;
    transform: translateX(-50%);
    border-color: #e0e6ed;
    width: 0;
    height: auto;
    top: 12px;
    bottom: -19px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}
.widget-activity-four .timeline-line .item-timeline.timeline-primary .t-dot:before {
    background: #4361ee;
    /* border: 2px solid rgb(27 85 226 / 33%); */
}
.widget-activity-four .timeline-line .item-timeline.timeline-success .t-dot:before {
    background-color: #1abc9c;
    /* border: 2px solid rgb(154, 210, 205); */
}
.widget-activity-four .timeline-line .item-timeline.timeline-danger .t-dot:before {
    background-color: #e7515a;
    /* border: 2px solid rgb(241, 172, 176); */
}
.widget-activity-four .timeline-line .item-timeline.timeline-dark .t-dot:before {
    background-color: #3b3f5c;
    /* border: 2px solid rgb(159, 163, 187); */
}
.widget-activity-four .timeline-line .item-timeline.timeline-secondary .t-dot:before {
    background: #805dca;
    /* border: 2px solid rgb(92 26 195 / 35%);     */
}
.widget-activity-four .timeline-line .item-timeline.timeline-warning .t-dot:before {
    background-color: #e2a03f;
    /* border: 2px solid rgb(222, 199, 165); */
}
.widget-activity-four .timeline-line .item-timeline:last-child .t-dot:after { display: none; }
.widget-activity-four .timeline-line .item-timeline .t-meta-time {
    margin: 0;
    min-width: 100px;
    max-width: 100px;
    font-size: 12px;
    font-weight: 700;
    color: #888ea8;
    align-self: center;
}
.widget-activity-four .timeline-line .item-timeline .t-text {
    align-self: center;
    margin-left: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: .5s;
}
.widget-activity-four .timeline-line .item-timeline .t-text p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 0;
}
.widget-activity-four .timeline-line .item-timeline .t-text p a {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: #009688;
}
.widget-activity-four .timeline-line .item-timeline .t-text span.badge {
    position: absolute;
    right: -1px;
    padding: 2px 4px;
    font-size: 10px;
    letter-spacing: 1px;
    opacity: 0;
    font-weight: 600;
    transform: none;
    top: 6px;
}
.widget-activity-four .timeline-line .item-timeline.timeline-primary .t-text span.badge {
    color: #4361ee;
    border: 1px solid #4361ee;
    background-color: #eaf1ff;
}
.widget-activity-four .timeline-line .item-timeline.timeline-secondary .t-text span.badge {
    color: #805dca;
    border: 1px solid #805dca;
    background-color: #f3effc;
}
.widget-activity-four .timeline-line .item-timeline.timeline-danger .t-text span.badge {
    color: #e7515a;
    border: 1px solid #e7515a;
    background-color: #fff5f5;
}
.widget-activity-four .timeline-line .item-timeline.timeline-warning .t-text span.badge {
    color: #e2a03f;
    border: 1px solid #e2a03f;
    background-color: #fff9ed;
}
.widget-activity-four .timeline-line .item-timeline.timeline-success .t-text span.badge {
    color: #009688;
    border: 1px solid #009688;
    background-color: #ddf5f0;
}
.widget-activity-four .timeline-line .item-timeline.timeline-dark .t-text span.badge {
    color: #3b3f5c;
    border: 1px solid #3b3f5c;
    background-color: #e3e4eb;
}
.widget-activity-four .timeline-line .item-timeline:hover .t-text span.badge {
    opacity: 1;
}
.widget-activity-four .timeline-line .item-timeline .t-text p.t-time {
    text-align: right;
    color: #888ea8;
    font-size: 10px;
}
.widget-activity-four .timeline-line .item-timeline .t-time {
    margin: 0;
    min-width: 80px;
    max-width: 80px;
    font-size: 13px;
    font-weight: 600; 
    color: #e3e4eb;
    letter-spacing: 1px;
}
.widget-activity-four .tm-action-btn {
    text-align: center;
    margin-top: 16px;
}
.widget-activity-four .tm-action-btn button {
    background: transparent;
    box-shadow: none;
    padding: 0;
    color: #030305;
    font-weight: 800;
    letter-spacing: 0;
    border: none;
    font-size: 14px;
}
.widget-activity-four .tm-action-btn button:hover {
    transform: translateY(0);
}
.widget-activity-four .tm-action-btn button span {
    margin-right: 6px;
    display: inline-block;
    transition: .5s;
}
.widget-activity-four .tm-action-btn button:hover span {
    transform: translateX(-6px);
}
.widget-activity-four .tm-action-btn svg {
    width: 17px;
    height: 17px;
    vertical-align: sub;
    color: #e3e4eb;
    stroke-width: 2.5px;
    transition: .5s;
}
.widget-activity-four .tm-action-btn button:hover svg {
    transform: translateX(6px);
}
/*
    Animated Underline
*/

.animated-underline-content .nav-tabs { border-bottom: 1px solid #e0e6ed; }
.animated-underline-content .nav-tabs li a {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
.animated-underline-content .tab-content>.tab-pane { padding: 20px 0 0 0; }
.animated-underline-content .nav-tabs .nav-link.active, .animated-underline-content .nav-tabs .show>.nav-link {
    border-color: transparent;
    color: #805dca;
}
.animated-underline-content .nav-tabs .nav-link:focus, .animated-underline-content .nav-tabs .nav-link:hover { border-color: transparent; }
.animated-underline-content .nav-tabs .nav-link.active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.animated-underline-content .nav-tabs .nav-link:before {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #805dca;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all .3s;
}
.widget-traffic-info .widget-heading .task-action .dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-traffic-info .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}
.widget-traffic-info .widget-content {
    font-size: 17px;
}
.widget-traffic-info .widget-content .summary-list {
    position: relative;
    padding: 15px;
    background: rgb(224 230 237 / 40%);
    border-radius: 6px;
}
.widget-traffic-info .widget-content .summary-list.summary-income {
    background: rgb(220 207 247 / 34%);
}
.widget-traffic-info .widget-content .summary-list.summary-profit {
    background: rgb(186 231 255 / 34%);
}
.widget-traffic-info .widget-content .summary-list.summary-expenses {
    background: rgb(255 236 203 / 34%);
}
.widget-traffic-info .widget-content .summary-list .summery-info {
    display: flex;
    margin-bottom: 0;
}
.widget-traffic-info .widget-content .summary-list:not(:last-child) {
    margin-bottom: 9px;
}
.widget-traffic-info .widget-content .w-icon {
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 12px;
}
.widget-traffic-info .widget-content .w-icon svg {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1px;
}
.widget-traffic-info .widget-content .summary-list:nth-child(1) .w-icon svg {
    color: #805dca;
    fill: rgb(92 26 195 / 16%);
}
.widget-traffic-info .widget-content .summary-list:nth-child(2) .w-icon svg {
    color: #2196f3;
    fill: rgb(33 150 243 / 16%);
}
.widget-traffic-info .widget-content .summary-list:nth-child(3) .w-icon svg {
    color: #e2a03f;
    fill: rgb(226 160 63 / 16%);
}
.widget-traffic-info .widget-content .w-summary-details {
    width: 100%;
    align-self: center;
}
.widget-traffic-info .widget-content .w-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.widget-traffic-info .widget-content .w-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-traffic-info .widget-content .w-summary-info .summary-count {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 600;
    color: #515365;
}
.widget-traffic-info .widget-content .w-summary-info .summary-average {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-traffic-info .widget-content .summary-list.summary-income .w-summary-info .summary-average {
    color: #805dca;
}
.widget-traffic-info .widget-content .summary-list.summary-profit .w-summary-info .summary-average {
    color: #2196f3;
}
.widget-traffic-info .widget-content .summary-list.summary-expenses .w-summary-info .summary-average {
    color: #e2a03f;
}